{{define "footer"}}
<footer class="footer text-center py-4 bg-white navbar-item">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            //The first argument are the elements to which the plugin shall be initialized
            //The second argument has to be at least a empty object or a object with your desired options
            OverlayScrollbars(document.querySelectorAll("body"), {});
        });
    </script>
    <div>&copy; kohge4</div>
</footer>
</body>

</html>
{{end}}