{{define "header"}}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OMOSHIRO IMGER</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <!--tailwindcss-->
    <link rel="stylesheet" type="text/css" href="/assets/css/tailwind.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
    <!-- OGP -->
    <meta property="og:title" content="kohge4" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kohge4.an.r.appspot.com/index" />
    <meta property="og:image" content="https://kohge4.an.r.appspot.com/static/resources/images/akiyama.jpg" />
    <meta property="og:site_name" content="kohge4" />
    <meta property="og:description" content="kohge4のブログです" />
</head>

<body>
    <!-- START NAV -->
    <nav class="bg-white">
        <div class="md:flex items-center justify-between py-2 px-8 md:px-12 navbar-item">
                <div class="text-2xl font-bold text-gray-800 md:text-3xl">
                    <a href="/index">OMOSHIRO IMGER</a>
                </div>
        </div>
    </nav>
    <!-- END NAV -->
    {{end}}