{{template "header" .}}
<!-- START ARTICLE FEED -->
<body>
  <div class="min-h-screen bg-gray-100 flex flex-col justify-center">
    <div
      class="
        relative
        flex flex-wrap
        justify-center
        bg-white
        relative
        target
        rounded-lg
      "
    >
      <div
        class="relative mx-1 my-auto"
      >
        <div class="fukidashi1 shadow-md">
          <p class="font-serif font-bold">
            {{ .Text }}
          </p>
        </div>
      </div>
      <div
        class="
          content-img
          relative
          max-w-md
          mx-1
          my-3
          py-4
        "
      >
        <img class="h-200px" src="https://image.showroom-cdn.com/showroom-prod/image/room/cover/122288ab7fb8257367c7ba64876cff3b4e1eb8a2999d370a6e61b919cccab508_l.jpeg?v=1656472931" />
      </div>
    </div>
  </div>
</body>
{{template "footer"}}
