{{template "header" .}}
<!-- START ARTICLE FEED -->
<body>
  <div
        class="bg-gray-100 flex flex-col justify-center"
  >
    <div
      class="
        relative
        flex flex-wrap
        justify-center
        bg-white
        relative
        target
        rounded-lg
      "
      style="height: 400px; width: 400px;position: relative;"
    >
      <img
          src={{ .RoomURL }}
          style="position: absolute;height:100%;"
      />
      <img
          src={{ .EventURL }}
          style="position: absolute;bottom: 0;left: 0;height:30%;"
      />
      <img
          src="https://image.showroom-cdn.com/showroom-prod/assets/img/gift/2413_s.png?1656400128"
          style="position: absolute;bottom: 0;right: 0;"
      />
      <span style="position: absolute;top: 0;left: 0;font-family: 'Potta One', cursive;font-size: 50px">
        {{ .Text }}
      </span>
    </div>
  </div>
</body>
{{template "footer"}}
