.navbar-item {
    font-family: "Press Start 2P";
}

.side-bar {
    display: none,

}

#sortbox:checked ~ #sortboxmenu {
    /*関節セレクタ: http://zero.css-happylife.com/selectors/general_sibling_combinator.shtml */
    opacity: 1;
}


/* 吹き出し用 */
.fukidashi1 {
    position: relative;
    display: inline-block;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: white;
    border: solid 3px #555;
    border-radius: 15px;
    max-height:300px;
  }


.fukidashi1:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-left: 12px solid #FFF;
    z-index: 2;
  }


.fukidashi1:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-left: 14px solid #555;
    z-index: 1;
  }
  
  .fukidashi1 p {
    margin: 0;
    padding: 20px;
  }


  .target {
      height: 630px;
      width: 1200px;
      margin: 0 auto;
  }