.navbar-item {
    font-family: "Press Start 2P";
}

.side-bar {
    display: none,

}

#sortbox:checked ~ #sortboxmenu {
    /*関節セレクタ: http://zero.css-happylife.com/selectors/general_sibling_combinator.shtml */
    opacity: 1;
}


/* 吹き出し用 */
.fukidashi1 {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
    border-radius: 15px;
  }
  
  .fukidashi1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
  }
  
  .fukidashi1 p {
    margin: 0;
    padding: 0;
  }